*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
  }

.container {
    display: grid;
    grid-template-columns: 0.75fr 2fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1/2;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr;
}

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 5%;
    height: 75%;
}

img {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 30%;
}

h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 3em;
}

.formContainer {
    grid-column: 1/2;
    grid-row: 2/5;
    display: grid;
    justify-items: center;
}

form {
    grid-column: 1/2;
    grid-row: 2/5;
    text-align: center;
    display: grid;
    font-size: 2em;
    justify-items: center;
}

#addBookButton {
    margin-bottom: 10%;
}

input {
    border-radius: 30px;
}

button {
    border-radius: 30px;
    width: 100px;
    height: 40px;
}

.bookshelf {
    grid-column: 2/3;
    display: grid;
    align-items: start;
}

.stats {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height:100%;
    align-items: flex-end;
}

p {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 2em;
}

.clearbutton {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 120px;
    background-color: aqua;
}


table {
    grid-column: 1/2;
    grid-row: 1/12;
    border: 1px dotted black;
    width: 100%;
    border-spacing: 5px;

}

th {
    background-color: aqua;
    height: 10%;
}

th, td {
    padding: 15px;
  }

  th {
    text-align: left;
  }


  @media (min-width: 320px) and (max-width: 480px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .sidebar {
        grid-column: 1/2;
        grid-row: 1/2;

    }
    .bookshelf {
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        align-items: start;
    }

    table {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    th, td {
        padding: 9.25px;
      }
    
    .stats {
        grid-column: 1/2;
        grid-row: 3/4;
    }
  }

